.file {
  visibility: hidden;
  position: absolute;
}

p {
  padding-bottom: 10px;
  border-bottom: solid 1px;
  border-color: #cccccc;
}

#nav1 {
    background-color: white;
    border-bottom: solid red 1px;
    /*background-color: lightgrey;*/
    /*opacity: 0.6;*/
}

#briefing {
  border-top: solid 1px #cccccc
}

#grad1 {
    height: 20px;
    /*width: 100px;*/
    background: -webkit-linear-gradient(left, red, orange, yellow, green, cyan); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, red, orange, yellow, green, cyan); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, red, orange, yellow, green, cyan); /* For Fx 3.6 to 15 */
    background: linear-gradient(left, red, orange, yellow, green, cyan); /* Standard syntax (must be last) */
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.agreements {
  margin-bottom: 11px;
  border-bottom: solid 1px;
  border-color: #cccccc;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.readability {
  margin-bottom: 11px;
  border-bottom: solid 1px;
  border-color: #cccccc;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cyan {
  color: cyan;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.green {
  color: green;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.yellow {
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.orange {
  color: #ff7700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.red {
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.checkboxgroup{
    display: inline-block;
    text-align: center;
}
.checkboxgroup label {
    display: inline-block;
}


.animationload {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.osahanloading {
    animation: 1.5s linear 0s normal none infinite running osahanloading;
    background: #fed37f none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}
.osahanloading::after {
    animation: 1.5s linear 0s normal none infinite running osahanloading_after;
    border-color: #85d6de transparent;
    border-radius: 80px;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 80px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 80px;
}
@keyframes osahanloading {
  0% {
      transform: rotate(0deg);
  }
  50% {
      background: #85d6de none repeat scroll 0 0;
      transform: rotate(180deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


.firstHighlight {
  background-color: #ea5e46;
}
.secondHighlight {
  background-color: yellow;
}

.undo {
  margin-top: -5px;
}
